*{
    margin: 0;
    padding: 0;
}

body{
    background: #fff;
    font-size: 30px;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;

    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
  }

  .header{
    background: #fff;
    height: 60px;
    font-size: 16px;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
  }

  .link{
    text-decoration: none;
    padding-left: 10px;
    color: #585A58;
  }

  .btn{
    background: #1A73E8;
  }

  .main{
    background-color: rgba(255, 0, 0, 0.432);
    flex-grow: 1;
  }

  .footer{
    color: #687682;
    height: 60px;
    background: #F2F2F2;
    border-bottom: 1px solid #DDDFE3;
    font-size: 18px;
    padding-left: 18px;

    display: flex;
    align-items: center;
  }
  